.section-mobile-menu {
    height: calc(100dvh - env(safe-area-inset-top));

    color: $white-font-text;

    display: flex;
    flex-direction: column;
}

.title {
    padding: 8px 16px;

    height: 4rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;

    font-size: 1.8rem;
    font-weight: 600;

    .icon {
        margin-top: 2px;
        color: $blue-color;
    }
}

.content {
    flex-grow: 1;
    width: 80%;
    padding: 4rem 0;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    gap: 3rem;

    font-size: 1.6rem;
}

.top-content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.top-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.bottom-download-button {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.progress-bar {
    display: flex;
    justify-self: center;
    align-self: center;
}
